.container{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
}