.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Resolution {
    height: 500px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    transition: width 0.4s ease-in;
}

.Resolution.active {
    width: 700px;
}
